
  .all-sections{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px; 
    display: grid;
    gap: 0px;
    grid-template-areas: 
    "table1 table2 table3"
    "table4 table5 table6"
    ;
  }


  @media (max-width: 500px) {
    .all-sections {
      grid-template-columns: 1fr;
      grid-template-areas:
        "table1"
        "table2"
        "table3"
        "table4"
        "table5"
        "table6";
    }
